/Config/facebook.php
/Config/twitter.php
/Config/tumblr.php
/Config/bootstrap.env.php
/Plugin/Migrations/
/Plugin/Postable/
/Vendor/
/tmp/
/webroot/img/profile/twitter/
/webroot/img/base-meme/
/webroot/img/user/
._*
.DS_Store
.idea/