/** 
 * bootstrap-responsive.css tweaks (nav bar @ 768px +)
 * - Switched compact nav jump point from 979px -> 767px
 * - Switched the nav adjustment jump point from 980px -> 786px
 */

.pager .disabled, .pager .current {
	display: inline-block;
	padding: 5px 14px;
	background-color: white;
	border: 1px solid #DDD;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.actions .nav-pills {
	font-weight: bold;
}

.hero-unit ul.thumbnails h3 {
	text-align: center;
}

.text-right {
	text-align: right;
}

.navbar .brand {
	color: #FC6626;
}

@media (max-width:767px) {
	/* force responsive nav submenus to use white when compacted */
	.navbar .dropdown-menu i.icon {
		background-image: url("../img/glyphicons-halflings-white.png");
	}
}

@media (max-width:480px) {
	.hero-unit h1 {
		font-size: 40px;
	}
	.hero-unit {
		padding: 30px;
	}
}

/* flex images */
img {
	max-width: 100%;
}

.posts .source {
	color: #999;
	margin-left: 1em;
}

.paging-summary {
	text-align: center;
}

a {
	color: #FC6626;
}
.nav-list > .active > a, .nav-list > .active > a:hover {
	background-color: #FC6626;
}

.trigger-edit, .save-image {
	font-size: 18pt;
	padding: 0.5em 0.5em 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}