/**
 * Backstage App
 *
 * Color Scheme
 *   #FC6626 > branding and accent
 *   #DDDDDD > feature unit background-color
 *   #DDDDDD > default body color
 *   #EEEEEE > active links
 *   #888888 > pane
 *   #666666 > border-color
 *   #444444 > dark alternate background-color
 *
 *   #AAAAAA > subdued text against dark
 *
 * bootstrap-responsive.css tweaks (nav bar @ 768px +)
 * - Switched compact nav jump point from 979px -> 767px
 * - Switched the nav adjustment jump point from 980px -> 786px
 */

/* @start color-treatment ================================================== */

body {
	background:#ffffff url('../img/ui/darkdenim3.png');
	color: #DDD;
}

legend, label {
	color: #DDD;
}

a {
	color: #FC6626;
}

.alert a, .alert a:hover, h1 a, h2 a, h3 a {
	color: inherit;
}

a:hover {
	color: #EEEEEE;
}

.muted a {
	color: #AAA;
}

.muted a:hover {
	color: #EEE;
}

hr {
	border-top: 1px solid #888;
	border-bottom: 1px solid #666;
}

.nav-list > .active > a, .nav-list > .active > a:hover {
	background-color: #FC6626;
}

.nav-list .divider {
	background-color: #666;
	border-bottom: 1px solid #666;
}

.features .thumbnail {
	background-color: #888;
	color: #EEE;
	border: 3px solid #888;
}

.active-contests .thumbnail {
	border: 3px solid #888;
}

.dropdown-menu {
	background-color: #666;
}

.dropdown-menu li>a:hover,.dropdown-menu .active>a,.dropdown-menu .active>a:hover{
	background-color:#FC6626;
}

.dropdown-menu a {
	color: #EEE;
}

.dropdown-menu .divider {
	background-color: #888;
	border-bottom: 1px solid #888;
}

/* table-striped-inverse */
.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th,
.table-striped-inverse tr:nth-last-child(2n + 1),
.table-striped-inverse tr:nth-last-child(2n + 1) td {
	background-color: #444;
}

.navbar .brand {
	color: #FC6626;
}

.navbar .dropdown-menu::after {
	border-bottom: 6px solid #666;
}

.nav > li > a:hover {
	background-color: #444;
	color: #EEE;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
	color: #EEE;
}

.table tbody tr:hover, .table tbody tr:hover td, .table tbody tr:hover th {
	background-color: #666;
	color: #DDD;
}

.table a:hover {
	color: #EEE;
}

.badge-custom {
	background-color: #FC6626;
}

.badge-custom:hover {
	background-color: #d95821;
}

.badge-muted {
	background-color: #999;
}

.badge-muted:hover {
	background-color: #BBB;
	color: #666;
}

.badge-pale {
	background-color: #DD7500;
	background-color: #6996AD;
}

.badge-pale:hover {
	background-color: #E38217;
	background-color: #42647F;
}

span.badge-off {
	background-color: #666;
}

.slideout {
	background-color: #666;
	border-color: #666;
	color: #EEE;
}

.thumbnails .date {
	color: #888;
}

.modal, .modal legend, .modal label {
	color: #444
}

input.copier {
	background-color: #444;
	color: #EEE;
	border-color: #666;
}

/* @end color-treatment ==================================================== */

/* @start misc-ui-elements ================================================= */

body {
	margin-bottom: 4em;
	font-size: 12pt;
}
@media (min-width:768px) {
	body {
		margin-top: 4em;
	}
	.navbar-fixed-top .container, .navbar-fixed-bottom .container {
		width: 98%;
		margin-left: 1em;
	}
}

p, label {
	font-size: 12pt;
}

p.tall {
	margin-bottom: 1em;
}

.navbar {
	font-size: 10pt;
}

.subnav a {
	font-size: 11pt;
}

.subnav h3 .badge {
	vertical-align: top;
}

.action-bar, .action-bar p, .image-list p, .page-limit .dropdown-menu, .slideout {
	font-size: 10pt;
}

div.login {
	margin-left: 0;
}

img, iframe, embed, object {
	max-width: 100%;
}

.alert a {
	font-weight: bold;
}

.dash {
	padding: 3em 0;
}

.dash p {
	font-size: 14pt;
	font-weight: 200;
	line-height: 27px;
}
.dash h1 {
	margin-bottom: 0;
	font-size: 60px;
	line-height: 1;
	color: inherit;
	letter-spacing: -1px;
}

.dash .thumbnail {
	border: 5px solid #666;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	padding: 0px;
	margin-top: 1em;
}

.features {
	text-align: center;
}

.features .span3 {
	min-height: 240px;
}

.dash .thumbnail h4, .dash .thumbnail h5 {
	padding-right: 0.5em;
}

.dash ul.thumbnails h3 {
	text-align: center;
}

#UserAdminLoginForm fieldset {
	border: 0;
}

.actions .nav-pills {
	font-weight: bold;
}

.text-left, .text-left td, .text-left th {
	text-align: left;
}

.text-center, .text-center td, .text-center th {
	text-align: center;
}

.text-right, .text-right td, .text-right th {
	text-align: right;
}

.status .badge {
	margin-left: 0.3em;
}

a:hover {
	text-decoration: none;
}

.navbar .status {
	float: left;
	display: block;
	padding: 10px 20px 12px;
	margin-left: -20px;
}

.nav-list > li > a, .nav-list .nav-header {
	text-shadow: none;
}

.nav-list > .active > a, .nav-list > .active > a:hover {
	text-shadow: none;
}

.slideout {
	position: fixed;
	left: 0;
	max-width: 220px;
}

.slideout .names {
	text-shadow: none;
}

.loading {
	font-size: 1.1em;
	color: #CCC;
	font-weight: bold;
	padding-top: 1em;
	padding-left: 1em;
}

.actions li {
	margin-top: 1em;
}

.actions a {
	padding: 0.8em;
}

.dropdown li {
	margin-top: 0em;
}

.dropdown ul a {
	padding: 3px 15px;
}

.actions .dropdown-menu {
	margin: 0.5em;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.dropdown.open > a > i {
	background-image:url("../img/glyphicons-halflings-white.png");
}

.actions .dropdown li a i {
	margin-left: 0.2em;
}

.actions .delete {
	padding: 0.3em;
	margin-top: 1em;
}

.asset-url {
	width: 95%;
}

.thumbnails .date {
	font-size: 0.8em;
}

#fbPostModal .fb {
	background: url('../img/ui/facebook.png') no-repeat left center;
	padding-left: 1.5em;
}

.full {
	width: 100%;
}

.modal form {
	margin: 0;
}

.asset-type {
	width: 6em;
}

.asset-type-form .input, .asset-type-form .submit {
	display: inline-block;
}

.asset-type-form .submit {
	margin-left: 0.5em;
}

.asset-type-form .control-group {
	margin-bottom: 0;
}

.contest-start-popin .image {
	padding-left: 0.5em;
}

li .icon-white.pull-right {
	margin-left: 0.5em;
}

li.comment .text {
	padding-right: 1.5em;
}

.short-date {
	color: #888;
	width: 4.5em;
}

.route-action-admin-dashboard div.time {
	display: inline-block;
	float: right;
}

.route-action-admin-dashboard .table td {
	padding: 9px;
}

.route-action-admin-dashboard h3 img {
	padding: 4px;
}

.popover-title {
	display: none;
}

.popover-content {
	padding: 0;
	text-align: center;
}

.popover-inner {
	width: auto;
}

.btn-radio {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.image-list .thumbnail {
	border: 5px solid #666;
	padding: 0;
	height: 170px;
}

.image-list .thumbnail img {
	max-height: 120px;
}

.crop-actions {
	margin-bottom: 1em;
}

.inset {
	padding: 1.5em;
}

/* break long text/links */
.chat-row .message {
	word-break: break-word;
}
.chat-row a, .link-exchange .long-link a, .link-exchange .view-link a {
	-ms-word-break: break-all;
	word-break: break-all;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

#dropzone {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	/*background-color: rgba(252, 102, 38, 0.2); // branding color */
	background-color: rgba(87, 184, 70, 0.3);
}

.select2-container-multi .select2-choices {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	background: none;
	border: 1px solid #555;
}

.select2-container-multi .select2-choices .select2-search-field input {
	color: #eee;
}

.cozy {
	padding-top: 1em;
	padding-bottom: 1em;
}

.tagged {
	opacity: 0.4;
}

/* @end misc-ui-elements =================================================== */

/* @start tabulation-and-pagination ======================================== */

.paging-summary {
	text-align: center;
}

.pager a {
	background-color: #444;
	border: 3px solid #666;
}

.pager .disabled {
	color: #999;
}

.pager a:hover {
	text-decoration:none;
	background-color: #555;
	color: #FC6626;
}

.pager .disabled, .pager .current {
	display: inline-block;
	padding: 5px 14px;
	background-color: #444;
	border: 3px solid #666;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.pager .current {
	font-weight: bold;
}

.page-limit .dropdown-menu {
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}

.posts .source {
	color: #999;
	margin-left: 1em;
}

.posts .time {
	color: #888;
	font-size: 0.9em;
	width: 1em;
	text-align: center;
}

.table-bordered {
	border: 1px solid #888;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.table th, .table td {
	border-top: none;
}

/* @end tabulation-and-pagination ========================================== */

/* @start image wall ======================================================= */

.image-wall {
	line-height: 0;
	-webkit-column-count: 5;
	-webkit-column-gap:   0px;
	-moz-column-count:    5;
	-moz-column-gap:      0px;
	column-count:         5;
	column-gap:           0px;

	margin-bottom: 1em;
}

.image-wall img {
	width: 100% !important;
	height: auto !important;
	max-width: 250px;
}

@media (max-width: 2600px) {
	.image-wall {
		-moz-column-count:    7;
		-webkit-column-count: 7;
		column-count:         7;
	}
}

@media (max-width: 1800px) {
	.image-wall {
		-moz-column-count:    6;
		-webkit-column-count: 6;
		column-count:         6;
	}
}

@media (max-width: 1400px) {
	.image-wall {
		-moz-column-count:    5;
		-webkit-column-count: 5;
		column-count:         5;
	}
}

@media (max-width: 1100px) { /* for 1024x */
	.image-wall {
		-moz-column-count:    4;
		-webkit-column-count: 4;
		column-count:         4;
	}
}

@media (max-width: 800px) {
	.image-wall {
		-moz-column-count:    3;
		-webkit-column-count: 3;
		column-count:         3;
	}
}

@media (max-width: 480px) {
	.image-wall {
		-moz-column-count:    1;
		-webkit-column-count: 1;
		column-count:         1;
	}
}

/* @end image wall ========================================================= */

/* @start meme-generator =================================================== */

.meme-generator {
	text-align: center;
}

.meme-generator .output {
	margin-top: 0.5em;
	margin-bottom: 1em;
}

.meme-generator input {
	font-size: 1.4em;
	padding: 14px 8px;
	line-height: 1.2em;
}
.meme-generator select {
	font-size: 11pt;
}

.btn-huge {
	padding: 1em 1em 1em;
}

#workspace {
	display: none;
}

#rendered {
	border: 5px solid #666;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.tips {
	font-size: 1.1em;
	padding-bottom: 1em;
}

.tips li {
	margin-bottom: 0.5em;
}

.meme-generator .resize-reset {
	margin-top: 2em;
}

.resize-reset .reset {
	margin-left: 2em;
}

.meme-generator .btn-group {
	display: inline-block;
	vertical-align: middle;
}

.meme-generator .btn {
	margin-bottom: 0.5em;
}

.mini-wall {
	padding-bottom: 1em;
	text-align: center;
}

.mini-wall img {
	display: inline-block;
	height: 75px;
	width: auto !important;
	padding-bottom: 5px;
}

.meme-generator .image-option:hover {
	cursor: pointer;
}

/* @end meme-generator ===================================================== */

/* @start chat-module ====================================================== */

.chat-bar .navbar-inner {
	background: #EEEEEE; /* old browsers */
	background: -moz-linear-gradient(top, #EEEEEE 0%, #C4C4C4 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EEEEEE), color-stop(100%,#C4C4C4)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEEEEE', endColorstr='#C4C4C4',GradientType=0 ); /* ie */
	padding: 0.5em;
}

.chat-bar h4 {
	line-height: 30px;
}

.chat-bar .text-input {
	padding-right: 86px;
}

.chat-bar .msg input {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin-top: 0;
	font-size: 1.2em;
	padding: 0.5em;
	width: 100%;
}

.chat-bar .navbar-inner button {
	margin-top: 0;
	padding: 0.6em 1em;
	position: absolute;
	right: 0;
	top: 0;
}

.chat-bar form {
	width: 100%;
	position: relative;
}

.chat-window .time {
	color: #888;
	width: 7em;
}

.chat-window .handle {
	font-weight: bold;
	width: 1em;
}

.chat-stats {
	float: right;
	margin-bottom: 0.1em;
	margin-right: 0.5em;
}
.chat-stats h3, .chat-stats h4 {
	display: inline-block;
}

/* user currently logged in */
.active-user {
	font-weight: 800;
	color: #FC6626;
}

.chat-window tbody tr.highlight {
	border: 2px solid #222;
}

.chat-window tbody tr.highlight td {
	padding-top: 0.75em;
	padding-bottom: 0.75em;
}

.chat .message {
	max-width: 300px;
}

.chat .message .posted-content {
	display: block;
}

.highlight .time {
	color: #AAA;
}

.online-users {
	margin-bottom: 2em;
}

.idle-users {
	color: #888;
	padding-left: 2em;
}

.online-users li {
	font-weight: bold;
	padding-left: 1em;
}

.online-users li i {
	vertical-align: middle;
}

.tips {
	margin-top: 2em;
}

.tips p {
	font-size: 0.8em;
	color: #AAA;
	margin-bottom: 1em;
}


/* @end chat-module ======================================================== */

/* @start system updates =================================================== */

.activity .time {
	color: #888;
}

.activity td.time {
	width: 8em;
}

.activity tr:hover .time {
	color: #AAA;
}

.activity .type {
	width: 16px;
}

.activity .time, .activity .type {
	vertical-align: middle;
}

.activity a {
	color: inherit;
}

.activity th, .activity td {
	padding: 5px;
}

.activity .preview-small {
	float: right;
}

.activity .preview-small img {
	max-height: 36px;
}

.activity .linked {
	cursor: pointer;
}

/* @end system updates ===================================================== */

/* @start link exchange ==================================================== */

.link-exchange .main {
	font-size: 14pt;
	line-height: 2em;
	margin-right: 0.5em;
	padding-bottom: 2px;
	border-bottom: 1px solid #FC6626;
}

.link-exchange .description {
	margin: 0.75em;
	margin-bottom: 4px;
}

.link-exchange .stats {
	margin-left: 0.75em;
	font-size: 0.9em;
}

.link-exchange li {
	border-bottom: 1px solid #666;
}

.link-exchange li:last-child {
	border-bottom: none;
}

.link-exchange small {
	font-size: 0.8em;
}

.link-exchange .interact {
	margin: 0.5em;
}

.link-exchange .comments {
	margin-right: 1.5em;
}

.link-exchange .controls {
	float: right;
	padding-top: 5px;
}

.link-exchange .badge, .image-tags .badge {
	font-size: 0.9em;
	font-weight: normal;
	line-height: 2em;
	padding: 2px 12px 3px;
}

.active-tag {
	font-size: 1em;
	font-weight: normal;
	padding: 2px 12px 3px;
}

.nav-list.tags-tally {
	margin-top: 1em;
	margin-bottom: 1em;
}

.link-item {
	padding: 1.5em;
	padding-left: 0;
}

.screenshot {
	float: left;
	width: 150px;
	margin-right: 1em;
	border: 5px solid #444;
}

.link-item.no-screenshot {
	padding-left: 1.5em;
}

/* @end link exchange ====================================================== */

/* @start videos =========================================================== */

.video-item .screenshot {
	width: 300px;
}

.video-embed .horizontal video {
	max-width: 100%;
}

.video-embed .mejs-container.vertical {
	margin: 0 auto;
}

/* @end videos ============================================================= */

/* @start responsive-adjustments =========================================== */

@media (min-width:768px) and (max-width:979px) {
	.features .span3 {
		min-height: 180px;
	}

}

@media (max-width:767px) {

	.navbar-form {
		border: none;
		margin: 0;
	}

	.chat-bar .handle {
		font-size: 1em;
	}

	.chat-bar h3, .chat-bar h4, .chat-bar form {
		padding: 0.1em;
	}

	.chat-window .handle {
		width: 5em;
	}

	.chat-bar .text-input {
		padding-right: 72px;
	}

	.chat-bar .navbar-inner button {
		right: 0.1em;
		padding: 0.6em 0.5em;
	}

	.chat-window .time {
		font-size: 0.8em;
		width: 7em;
	}

	.action-bar {
		text-align: left;
	}

	.action-bar .actions li {
		display: inline-block;
		padding: 0.25em 0.5em;
	}
}

/* smallest screen-size, tighten up spacing */

@media (max-width:480px) {

	.navbar .status {
		padding-left: 0px;
		padding-right: 0px;
		float: none;
	}

	.pager a {
		margin-bottom: 0.5em;
	}

	.dash {
		padding: 0;
	}

	.dash h1 {
		font-size: 40px;
	}

	.features .span3 {
		min-height: 0;
		width: 95%;
	}

	.features img {
		width: 100%;
		height: auto;
	}

	.extra {
		display: none;
	}

	.chat-row {
		display:block;
		width: 100%;
	}

	.chat-row .time, .chat-row .handle {
		display: inline-block;
	}

	.chat-row .handle {
		float: left;
		padding-left: 1em;
	}

	.chat-row .message {
		display: block;
	}

	.posts .time {
		font-size: 0.8em;
		width: 1em;
	}

	.link-exchange .screenshot {
		float: none;
	}

	.link-exchange .long-link, .link-exchange .view-link {
		display: block;
	}

	.link-exchange .main {
		line-height: 1.5em;
	}

	.link-exchange li {
		padding: 0em;
	}

	.link-item, .link-item.no-screenshot {
		padding: 1em 0;
	}

	.link-exchange .description {
		margin-left: 0.5em;
	}

	.table .short-date {
		width: 1em;
	}

	.image-wall img {
		margin-bottom: 1em;
		max-width: 100%;
	}

	.meme-generator input {
		padding: 22px 8px;
	}
}

/* @end responsive-adjustments ============================================= */
