/** 
 * bootstrap-responsive.css tweaks (nav bar @ 768px +)
 * - Switched compact nav jump point from 979px -> 767px
 * - Switched the nav adjustment jump point from 980px -> 786px
 */

.pager .disabled, .pager .current {
	display: inline-block;
	padding: 5px 14px;
	background-color: white;
	border: 1px solid #DDD;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.actions .nav-pills {
	font-weight: bold;
}

.hero-unit ul.thumbnails h3 {
	text-align: center;
}

.text-right {
	text-align: right;
}

.navbar .brand {
	color: #FC6626;
}

/* flex images */
img {
	max-width: 100%;
}

.posts .source {
	color: #999;
	margin-left: 1em;
}

.paging-summary {
	text-align: center;
}

a {
	color: #FC6626;
}
.nav-list > .active > a, .nav-list > .active > a:hover {
	background-color: #FC6626;
}

.route-action-admin-meme-generator .main {
	text-align: center;
}

.meme-generator button {
	padding: 1em 1em 1em;
	margin-bottom: 0.5em;
}

.meme-generator .output {
	margin-top: 0.5em;
	margin-bottom: 1em;
}

#workspace {
	display: none;
}

#rendered {
	border: 2px solid #DDD;
}

.tips li {
	margin-bottom: 0.5em;
}

.badge-custom {
	background-color: #FC6626;
}
.badge-custom:hover { 
	background-color: #d95821;
}

.chat-bar .navbar-inner {
	background: #E5E5E5; /* old browsers */
	background: -moz-linear-gradient(top, #E5E5E5 0%, #C4C4C4 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E5E5E5), color-stop(100%,#C4C4C4)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E5E5E5', endColorstr='#C4C4C4',GradientType=0 ); /* ie */
	border:1px solid #757575;
	/*border-bottom:3px solid #A30000;*/
	/*
	-moz-border-radius:10px 10px 10px 10px;
	-webkit-border-radius:10px 10px 10px 10px;
	border-radius:10px 10px 10px 10px;
	*/
}
.chat-bar .container { 
	margin-left: 0.2em;
}

.chat-bar h3, .chat-bar form {
	float: left;
	padding: 0.5em;
}

.chat-bar .msg input {
	margin-top: 0;
	font-size: 1.2em;
	padding: 0.5em;
}

.chat-bar .navbar-inner button {
	margin-top: 0;
	padding: 0.5em 0.5em 0.5em;
}

.chat-window .time {
	color: #888;
	width: 10em;
}

.chat-window .handle {
	font-weight: bold;
	color: #666;
	width: 9em;
}

.nav-bar .badge {
	float: right;
	padding: 1px 7px 2px;
	display: none;
}

@media (max-width:767px) {
	/* force responsive nav submenus to use white when compacted */
	.navbar .dropdown-menu i.icon {
		background-image: url("../img/glyphicons-halflings-white.png");
	}
}

@media (max-width:480px) {
	.hero-unit h1 {
		font-size: 40px;
	}
	.hero-unit {
		padding: 30px;
	}
	/*
	.meme-generator .actions button {
		padding: 0.65em 0.65em 0.65em;
	}
	*/
	button .extra {
		display: none;
	}
}

