/**
 * Backstage App
 * @author Patrick McFern <mcferno AT gmail.com>
 *
 * Color Scheme
 *   #FC6626 > branding and accent
 *   #DDDDDD > feature unit background-color
 *   #DDDDDD > default body color
 *   #EEEEEE > active links
 *   #888888 > pane
 *   #666666 > border-color
 *   #444444 > dark alternate background-color
 *
 *   #AAAAAA > subdued text against dark
 *
 * bootstrap-responsive.css tweaks (nav bar @ 768px +)
 * - Switched compact nav jump point from 979px -> 767px
 * - Switched the nav adjustment jump point from 980px -> 786px
 */

@font-face {
	font-family: "Passion One";
	src: url('fonts/passionone-regular-webfont.eot');
	src: url('fonts/passionone-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/passionone-regular-webfont.woff') format('woff'),
		url('fonts/passionone-regular-webfont.ttf') format('truetype'),
		url('fonts/passionone-regular-webfont.svg#passionone') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* @start color-treatment ================================================== */

body {
	background: #222 url('../img/ui/tactile_noise.png') repeat fixed;
	color: #DDD;
}

.navbar-inverse {
	background-color: #151515;
}

legend, label {
	color: #DDD;
}

a, .attn, .navbar .navbar-brand {
	color: #FC6626;
}

.alert a, .alert a:hover, h1 a, h2 a, h3 a {
	color: inherit;
}

a:hover {
	color: #EEEEEE;
	text-decoration: none;
}

.muted a {
	color: #AAA;
}

.muted a:hover {
	color: #EEE;
}

hr {
	border-top: 1px solid #888;
	border-bottom: 1px solid #666;
}

.page-header {
	border-bottom: 2px solid #666;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: #FC6626;
}

.nav > li > a:hover {
	background-color: #333;
	color: #EEE;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
	color: #EEE;
}

.features .thumbnail {
	background-color: #888;
	color: #EEE;
	border: 3px solid #888;
	margin-bottom: 0;
}

.active-contests .thumbnail {
	border: 3px solid #888;
}

.paging .dropdown-menu {
	margin-top: 10px;
	background-color: transparent;
	border: none;
	box-shadow: none;
}

.paging .dropdown-menu li > a {
	color: #DDD;
}

.dropdown-menu {
	background-color: #333;
}

.dropdown-menu li>a:hover,.dropdown-menu .active>a,.dropdown-menu .active>a:hover{
	background-color:#FC6626;
}

.dropdown-menu>li>a {
	color: #EEE;
}

.dropdown-menu .divider {
	background-color: #888;
	border-bottom: 1px solid #888;
}

/* table-striped-inverse */
.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th,
.table-striped-inverse tr:nth-last-child(2n + 1),
.table-striped-inverse tr:nth-last-child(2n + 1) td {
	background-color: #333;
}

.table a:hover {
	color: #EEE;
}

.badge-custom {
	background-color: #FC6626;
}

.badge-custom:hover {
	background-color: #d95821;
}

.badge-muted {
	background-color: #999;
}

.badge-muted:hover {
	background-color: #BBB;
	color: #666;
}

.btn-primary,.btn-primary:hover,.btn-warning,.btn-warning:hover,.btn-danger,.btn-danger:hover,.btn-success,.btn-success:hover,.btn-info,.btn-info:hover,.btn-inverse,.btn-inverse:hover{text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	color:#ffffff;
}
.btn-primary.active,.btn-warning.active,.btn-danger.active,.btn-success.active,.btn-info.active,.btn-inverse.active{
	color:rgba(255, 255, 255, 0.75);
}
.btn-primary{
	background-color:#0074cc;
	background-image:-moz-linear-gradient(top, #0088cc, #0055cc);
	background-image:-ms-linear-gradient(top, #0088cc, #0055cc);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
	background-image:-webkit-linear-gradient(top, #0088cc, #0055cc);
	background-image:-o-linear-gradient(top, #0088cc, #0055cc);
	background-image:linear-gradient(top, #0088cc, #0055cc);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
	border-color:#0055cc #0055cc #003580;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter:progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-primary:hover,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]{
	background-color:#0055cc;
}
.btn-primary:active,.btn-primary.active{background-color:#004099 \9;
}
.btn-warning{
	background-color:#faa732;
	background-image:-moz-linear-gradient(top, #fbb450, #f89406);
	background-image:-ms-linear-gradient(top, #fbb450, #f89406);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
	background-image:-webkit-linear-gradient(top, #fbb450, #f89406);
	background-image:-o-linear-gradient(top, #fbb450, #f89406);
	background-image:linear-gradient(top, #fbb450, #f89406);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
	border-color:#f89406 #f89406 #ad6704;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter:progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-warning:hover,.btn-warning:active,.btn-warning.active,.btn-warning.disabled,.btn-warning[disabled]{
	background-color:#f89406;
}
.btn-warning:active,.btn-warning.active{
	background-color:#c67605 \9;
}
.btn-danger{background-color:#da4f49;
	background-image:-moz-linear-gradient(top, #ee5f5b, #bd362f);
	background-image:-ms-linear-gradient(top, #ee5f5b, #bd362f);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
	background-image:-webkit-linear-gradient(top, #ee5f5b, #bd362f);
	background-image:-o-linear-gradient(top, #ee5f5b, #bd362f);
	background-image:linear-gradient(top, #ee5f5b, #bd362f);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
	border-color:#bd362f #bd362f #802420;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter:progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-danger:hover,.btn-danger:active,.btn-danger.active,.btn-danger.disabled,.btn-danger[disabled]{
	background-color:#bd362f;
}
.btn-danger:active,.btn-danger.active{
	background-color:#942a25 \9;
}
.btn-success{
	background-color:#5bb75b;
	background-image:-moz-linear-gradient(top, #62c462, #51a351);
	background-image:-ms-linear-gradient(top, #62c462, #51a351);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
	background-image:-webkit-linear-gradient(top, #62c462, #51a351);
	background-image:-o-linear-gradient(top, #62c462, #51a351);
	background-image:linear-gradient(top, #62c462, #51a351);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
	border-color:#51a351 #51a351 #387038;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter:progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-success:hover,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled]{
	background-color:#51a351;
}
.btn-success:active,.btn-success.active{background-color:#408140 \9;
}
.btn-info{background-color:#49afcd;
	background-image:-moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image:-ms-linear-gradient(top, #5bc0de, #2f96b4);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
	background-image:-webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image:-o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image:linear-gradient(top, #5bc0de, #2f96b4);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
	border-color:#2f96b4 #2f96b4 #1f6377;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter:progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-info:hover,.btn-info:active,.btn-info.active,.btn-info.disabled,.btn-info[disabled]{background-color:#2f96b4;
}
.btn-info:active,.btn-info.active{
	background-color:#24748c \9;
}
.btn-inverse{background-color:#414141;
	background-image:-moz-linear-gradient(top, #555555, #222222);
	background-image:-ms-linear-gradient(top, #555555, #222222);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
	background-image:-webkit-linear-gradient(top, #555555, #222222);
	background-image:-o-linear-gradient(top, #555555, #222222);
	background-image:linear-gradient(top, #555555, #222222);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
	border-color:#222222 #222222 #000000;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter:progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-inverse:hover,.btn-inverse:active,.btn-inverse.active,.btn-inverse.disabled,.btn-inverse[disabled]{
	background-color:#222222;
}
.btn-inverse:active,.btn-inverse.active{
	background-color:#080808 \9;
}

.badge-error{background-color:#b94a48;}
.badge-error:hover{background-color:#953b39;}
.badge-warning{background-color:#f89406;}
.badge-warning:hover{background-color:#c67605;}
.badge-success{background-color:#468847;}
.badge-success:hover{background-color:#356635;}
.badge-info{background-color:#3a87ad;}
.badge-info:hover{background-color:#2d6987;}
.badge-inverse{background-color:#333333;}
.badge-inverse:hover{background-color:#1a1a1a;}

span.badge-off {
	background-color: #666;
}

.slideout {
	padding: 0 15px;
	padding-bottom: 5px;
}

.slideout .glyphicon {
	margin-left: 8px;
	margin-right: 8px;
}

.slideout .title {
	font-weight: bold;
}

.thumbnails .date {
	color: #888;
}

.modal, .modal legend, .modal label {
	color: #333
}

input.copier {
	background-color: #333;
	color: #EEE;
	border-color: #666;
}

.navbar .nav > li > a .glyphicon, .status .glyphicon {
	color: #EEE;
}

.popover {
	background-color: #333;

}
.popover-content {
	padding: 0;
}

/* @end color-treatment ==================================================== */

/* @start bootstrap overrides ============================================== */

.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {
	border-top: none;
}

.page-header {
	margin-top: 0;
}

/* @end bootstrap overrides ================================================ */

body {
	padding-top: 80px;
	padding-bottom: 100px;
}

@media all and (max-width: 767px) {
	body {
		padding-top: 70px;
	}
}

.navbar .username-dd {
	padding-right: 25px;
	background: url('../img/emblem.png') no-repeat right center;
	margin-right: 5px;
}

.nav-header {
	font-weight: bold;
}

.navbar-brand {
	text-transform: lowercase;
}

.status > div {
	float: left;
	display: block;
	padding: 15px 3px;
}

.status .badge {
	margin-left: 4px;
}

img, iframe, embed, object {
	max-width: 100%;
}

.type img {
	max-width: none;
}

.route-action-admin-dashboard div.time {
	display: inline-block;
	float: right;
}

.actions > li {
	padding-bottom: 1em;
}

#dropzone {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	/*background-color: rgba(252, 102, 38, 0.2); // branding color */
	background-color: rgba(87, 184, 70, 0.3);
}

.select2-container-multi .select2-choices {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	background: none;
	border: 1px solid #555;
}

.select2-container-multi .select2-choices .select2-search-field input {
	color: #eee;
	padding: 1em;
}

.cozy {
	padding-top: 1em;
	padding-bottom: 1em;
}

.cozy-lead {
	padding-top: 2em;
	padding-bottom: 1em;
}

.cozy-top {
	padding-top: 1em;
}

.tagged {
	opacity: 0.4;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 800;
	margin-top: 0px;

}

.copier {
	margin-bottom: 1em;
}

/* @start system updates =================================================== */

.activity .time {
	color: #888;
}

.short-date {
	color: #888;
	width: 4.5em;
}

.activity td.time {
	width: 9em;
}

.activity tr:hover .time {
	color: #AAA;
}

.activity .type {
	width: 16px;
}

.activity .time, .activity .type {
	vertical-align: middle;
}

.activity a {
	color: inherit;
}

.activity th, .activity td {
	padding: 5px;
}

.activity .preview-small {
	float: right;
}

.activity .preview-small img {
	max-height: 36px;
}

.activity .linked {
	cursor: pointer;
}

/* @end system updates ===================================================== */

/* @start user dashboard =================================================== */

.dash h1 {
	margin-bottom: 0;
	font-weight: bold;
	letter-spacing: -1px;
}

.dash h4 {
	margin-top: 5px;
}

.dash .thumbnail, .thumbnail {
	border: 5px solid #666;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	padding: 0px;
	margin-top: 1em;
	background: none;
}

.dash .thumbnail {
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#000), to(#666));
	background: -webkit-radial-gradient(circle, #000, #666);
	background: -moz-radial-gradient(circle, #000, #666);
	background: -ms-radial-gradient(circle, #000, #666);
}

.dash .caption h4, .dash .caption h5 {
	padding-right: 0.5em;
	font-size: 1.1em;
	font-weight: bold;
}

.dash .caption {
	max-height: 1em;
}

/* @end user dashboard ===================================================== */

/* @start tabulation-and-pagination ======================================== */

.paging-summary {
	text-align: center;
}

.pager li>a, .pager li>span {
	background-color: #222;
	border: 3px solid #666;
	margin: 0 5px 5px 0;

}

.pager .disabled>a, .pager .disabled>a:hover, .pager .disabled>a:focus, .pager .disabled>span {
	background-color: inherit;
}

.pager li>a:hover, .pager li>span:hover {
	text-decoration:none;
}

.pager li>a:hover {
	background-color: #333;
	color: #FC6626;
}

.pager .current {
	font-weight: bold;
}

/* @end tabulation-and-pagination ========================================== */

/* @start image wall ======================================================= */

.image-wall {
	line-height: 0;
	text-align: center;
}

.image-wall img {
	padding: 0 10px 10px 0;
	height: 140px;
	max-width: 200px;
	min-width: 90px;
}

@media all and (max-width: 480px) {
	.image-wall img {
		height: 110px;
	}
}

.image-list .date {
	font-size: 0.8em;
}

.image-list p {
	margin: 0;
}

.image-list .thumbnail {
	margin-bottom: 0px;
}

/* @end image wall ========================================================= */

/* @start chat module ====================================================== */

.chat-bar {
	margin-bottom: 0;
}

.chat-bar .msg {
	background: #EEEEEE;
	background: -moz-linear-gradient(top, #EEEEEE 0%, #C4C4C4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EEEEEE), color-stop(100%,#C4C4C4));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEEEEE', endColorstr='#C4C4C4',GradientType=0 );
	padding: 0.5em;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.chat-bar .text-input {
	padding-right: 72px;
}

.chat-bar .msg textarea {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin-top: 0;
	font-size: 1.2em;
	padding: 0.5em;
	width: 100%;
}

.chat-bar button {
	margin-top: 2px;
	padding: 0.6em 1em;
	position: absolute;
	right: 0.5em;
	top:  0.5em;
}

.striped > div:nth-child(odd),
.striped-inverse > div:nth-last-child(2n + 1) {
	background-color: #333;
}

.chat-window .striped {
	margin-bottom: 5px;
}

.chat-window .striped-inverse {
	margin-top: 5px;
}

.chat-window .time {
	color: #888;
	font-size: 0.8em;
	text-align: right;
}

.chat-window .handle {
	font-weight: bold;
}

.active-user {
	font-weight: 800;
	color: #FC6626;
}

.chat-window .highlight {
	border: 2px solid #FC6626;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
}

.chat-window .highlight.seen {
	border: none;
}

.chat-window .user-mention {
	font-weight: bold;
}

.chat-window .message {
	padding: 0.5em;
}

.chat-row .message {
	word-break: break-word;
}
.chat-row a, .link-exchange .long-link a, .link-exchange .view-link a {
	-ms-word-break: break-all;
	word-break: break-all;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

.table tbody tr:hover, .table tbody tr:hover td, .table tbody tr:hover th, .striped > div:hover, .striped-inverse > div:hover {
	background-color: #444;
	color: #DDD;
}

.tips {
	margin-top: 2em;
}

.tips p {
	font-size: 0.85em;
	color: #AAA;
	margin-bottom: 1em;
}

.list-indented {
	margin-left: 1em;
}

@media all and (min-width: 768px) {

	.chat-window .handle {
		text-align: right;
	}

	.chat-window .message {
		padding-left: 0;
	}
}

/* @end chat module ======================================================== */

/* @start meme-generator =================================================== */

.meme-generator {
	text-align: center;
}

.meme-generator .row {
	margin-bottom: 1em;
}

.meme-generator .output {
	margin-top: 0.5em;
	margin-bottom: 1em;
}

#first-line {
	margin-bottom: 0.5em;
}

.btn-huge {
	padding: 1em 1em 1em;
}

#workspace {
	display: none;
}

#rendered {
	border: 5px solid #666;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.tips {
	font-size: 1.1em;
	padding-bottom: 1em;
}

.tips li {
	margin-bottom: 0.5em;
}

.meme-generator .resize-reset {
	margin-top: 2em;
}

.resize-reset .reset {
	margin-left: 1em;
}

.mini-wall {
	padding-bottom: 1em;
	text-align: center;
}

.mini-wall img {
	display: inline-block;
	height: 90px;
	max-width: 130px;
	width: auto !important;
	padding-bottom: 5px;
}

.meme-generator .image-option:hover {
	cursor: pointer;
}

/* @end meme-generator ===================================================== */

.link-exchange .main {
	font-size: 14pt;
	line-height: 2em;
	margin-right: 0.5em;
	padding-bottom: 2px;
	border-bottom: 1px solid #FC6626;
}

.screenshot img {
	margin-right: 1em;
	border: 5px solid #333;
}

.link-item .screenshot img {
	width: 150px;
}

.video-item .screenshot img {
	width: 300px;
}

.link-item {
	padding-bottom: 15px;
	border-bottom: 2px solid #333;
}

.hr {
	border-bottom: 2px solid #333;
	margin: 1em 0;
}

.link-item.no-screenshot {
	padding-left: 165px;
	min-height: 150px;
}

.active-tag {
	font-size: 0.7em;
	font-weight: normal;
	padding: 2px 12px 3px;
}

.nav-list.tags-tally {
	margin-top: 1em;
	margin-bottom: 1em;
}

.link-exchange .description {
	margin: 0.75em;
}

.link-exchange .stats {
	margin-left: 0.75em;
	font-size: 0.9em;
}

.link-exchange .interact {
	margin: 0.5em;
}

.interact .badge {
	margin-bottom: 10px;
}

.link-exchange .comments {
	margin-right: 1.5em;
}

.link-exchange .controls {
	float: right;
	padding-top: 5px;
}

.link-exchange .badge, .image-tags .badge {
	font-size: 0.9em;
	font-weight: normal;
	line-height: 1.5em;
	padding: 2px 12px 3px;
}

.active-contests img {
	width: 100%;
}

.active-contests .contest {
	margin-bottom: 1em;
}

.subnav {
	padding-top: 40px;
}

.subnav a .glyphicon {
	margin-right: 2px;
}


@media all and (min-width: 768px) and (max-width: 850px) {
	.nav > li > a {
		padding-right: 8px;
		padding-right: 8px;
	}
}

@media all and (max-width: 768px) {

	.screenshot img {
		max-width: 120px;
	}

	.link-item.no-screenshot {
		padding-left: 135px;
	}

	.video-item .screenshot img {
		max-width: 160px;
	}
}

@media all and (max-width: 480px) {

	.screenshot img, .video-item .screenshot img {
		max-width: 90px;
	}

	.link-item.no-screenshot {
		padding-left: 105px;
	}

	.extra {
		display: none;
	}
}

@media all and (max-width: 350px) {
	.navbar-brand {
		padding: 15px 9px;
	}

	.screenshot img, .video-item .screenshot img {
		max-width: none;
		width: auto;
	}

	.link-item.no-screenshot {
		padding-left: 0px;
	}

	.media-body {
		float: left;
	}

	.interact .view-link {
		display:block;
	}
}